*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin: auto;
}
.navbar img{
    width: 180px;
    margin: 0 20px ;
    float: left;
}
.menu{
    list-style-type: none;
    width: 50%;
    margin: 30px 50px 30px 30px;
    float: right;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li{
    display: flex;
}
.cont{
    width: 100%;
    border-radius: 5px;
    margin: 40px auto;
    padding: 2px;
}
.cont i{
    color: brown;
}