.about{        
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 80%;
        margin: 20px auto;
        text-align: center;
}
.navbar{
    margin: auto;
}
.navbar img{
    width: 180px;
    margin: 0 20px ;
    float: left;
}
.menu{
    list-style-type: none;
    width: 50%;
    margin: 30px 50px 30px 30px;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 2px;
}

.menu li{
    display: flex;
    border: 2px solid transparent;
}
.menu li a{
    color: brown;
    position: relative;
    bottom: 0;
    transition: bottom 0.3s;
    text-decoration: none;
}
.menu li a:hover{
    bottom: 5px;
    font-weight: bolder;
}

.list{
    display:inline-block;
    width: 100%;
    margin: 100px auto 50px auto;
}
.member1{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
    border-radius: 100%;
}
.member2{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
    border-radius: 100%;
}
.member3{
    float: right;
    width: 25%;
    text-align: center;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
    border-radius: 100%;
}
.list p{
    padding: 0;
}
.member4{
    float: right;
    width: 25%;
    text-align: center;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
    border-radius: 100%;
}
.member1:hover{
    bottom: 5px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.member2:hover{
    bottom: 5px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.member3:hover{
    bottom: 5px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.member4:hover{
    bottom: 5px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.ab{
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}
.cont{
    width: 100%;
    border-radius: 5px;
    margin: 40px auto 0 auto;
    padding: 2px;
}
.cont i{
    color: brown;
    
}
.cont a{
    color: brown;
    text-decoration: none;
    position: relative;
    bottom: 0;
    transition: bottom 0.3s;
}
.cont a:hover{
    bottom: 5px;
}